
// Color Variables
$primary-color: #123159;
$secondary-color: #3D9DF2;
$third-color: #102940;
$fourth-color: #0B1A26;
$color-contrast-1: #5CF2F2;
$color-contrast2: #5CF2F2;
$color-white: #fff;
$color-black: #000;

// Font Stacks
$sans-serif: 'Josefin Sans', -apple-system, BlinkMacSystemFont, 'avenir next', avenir, 'segoe ui', 'helvetica neue', helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
$serif: 'Libre Baskerville', 'Iowan Old Style', 'Apple Garamond', Baskerville, 'Times New Roman', 'Droid Serif', Times, 'Source Serif Pro', serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

// Font Weight
$light: 300;
$normal: 400;
$semibold: 500;
$bold: 700;

$box-shadow-1: 0 3px 15px rgba(0,0,0,0.2);
