
// Color Variables
$color-bg: hsla(208, 66, 15, 1);
$color-text: hsla(191, 86, 63, 1);
$color-light-accent: hsla(258, 62, 33, 1);
$color-dark-accent: hsla(208, 66, 15, 1);
$color-darker-accent: hsla(236, 47, 23, 1);
$color-white: hsl(0, 13%, 91%);
$color-black: #000;

// Font Stacks
$sans-serif: 'Josefin Sans', -apple-system, BlinkMacSystemFont, 'avenir next', avenir, 'segoe ui', 'helvetica neue', helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
$serif: 'Libre Baskerville', 'Iowan Old Style', 'Apple Garamond', Baskerville, 'Times New Roman', 'Droid Serif', Times, 'Source Serif Pro', serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

// Font Weight
$light: 300;
$normal: 400;
$semibold: 500;
$bold: 700;

$box-shadow-1: 0 3px 15px rgba(0,0,0,0.2);


