*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

body {
  background-color: hsl(0, 0%, 25%);
  font-family: "Josefin Sans", -apple-system, BlinkMacSystemFont, "avenir next", avenir, "segoe ui", "helvetica neue", helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
  font-size: 1.5rem;
  color: hsl(0, 0%, 85%);
  text-align: center;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

.title,
span {
  color: hsl(120, 90%, 80%);
}

.title {
  font-size: 4rem;
}

section {
  margin: 1rem;
}

.icon {
  width: 30px;
  height: 55px;
  margin: 0 1rem;
}
.icon i {
  width: 100%;
  transition: all 0.3s ease;
}
.icon i:hover {
  color: hsl(120, 90%, 80%);
}

header {
  background-color: hsl(0, 0%, 15%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 5%;
}
header .logo {
  cursor: pointer;
  width: 20%;
}
header .logo img {
  max-width: 100px;
  border-radius: 20%;
  display: block;
}

nav {
  height: 10vh;
}

.nav__links li {
  display: inline-block;
  padding: 1rem 1rem;
  font-size: 2rem;
  font-weight: 400;
}
.nav__links a {
  transition: all 1s ease 0s;
  padding: 0.5rem;
  position: relative;
}
.nav__links a:after {
  content: "";
  position: absolute;
  width: 0;
  background-color: white;
  left: 0;
  height: 3px;
  bottom: -10px;
  transition: 1s;
}
.nav__links a:hover {
  width: 100%;
  color: white;
}
.nav__links a:hover:after {
  width: 100%;
}

.mobile-nav,
.mobile-btn-toggle {
  display: none;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 2rem;
  background-color: #4b536c;
  height: 80vh;
}
.hero .hero__text {
  font-size: 3rem;
}
.hero .hero__text h1 {
  font-weight: 700;
}
.hero .hero__text p {
  font-weight: 300;
}
.hero .hero__text p span {
  color: hsl(120, 90%, 80%);
  font-weight: 300;
  font-size: 4rem;
}

.cta {
  margin: 1rem;
  padding: 1rem;
}
.cta a {
  background-color: hsl(120, 90%, 80%);
  color: hsl(0, 0%, 15%);
  font-weight: 300;
  border: none;
  border-radius: 900px;
  font-size: 1.5rem;
  padding: 0.5rem 2rem;
  box-shadow: 0 0 20px 5px hsl(0, 0%, 15%);
  cursor: pointer;
  transition: background-color 0.5s ease-in 70ms;
}
.cta a:hover {
  background-color: hsl(0, 0%, 25%);
  color: hsl(0, 0%, 85%);
  box-shadow: 0 0 20px 5px hsl(0, 0%, 45%);
  font-weight: 400;
}

.social {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  font-size: 2rem;
  border-radius: 50%;
}/*# sourceMappingURL=styles.css.map */