// RESET

*, *:before, *:after{
    box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    text-size-adjust: none;
}

footer, header, nav, section, main{
    display: block;
}

body{
    line-height: 1;
}

ol, ul{
    list-style: none;
}

blockquote, q{
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after{
    content: '';
    content: none;
}

table{
    border-collapse: collapse;
    border-spacing: 0;
}

input{
    -webkit-appearance: none;
    border-radius: 0;
}
// END RESET




// VARIABLES

// Color Variables
$color-bg: hsl(0, 0%, 25%);
$color-text: hsl(0, 0%, 85%);
$color-light-accent: hsl(120, 90%, 80%);
$color-border: hsl(0, 0%, 5%);
$color-grey: hsl(0, 0%, 45%);
$color-dark-grey: hsl(0 0% 15%);

// Font Stacks
$sans-serif: 'Josefin Sans', -apple-system, BlinkMacSystemFont, 'avenir next', avenir, 'segoe ui', 'helvetica neue', helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
$serif: 'Libre Baskerville', 'Iowan Old Style', 'Apple Garamond', Baskerville, 'Times New Roman', 'Droid Serif', Times, 'Source Serif Pro', serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

// Font Weight
$fw-light: 300;
$fw-normal: 400;
$fw-semibold: 500;
$fw-bold: 700;

// Font Size
$fs-300: 1rem;
$fs-400: 1.5rem;
$fs-500: 2rem;
$fs-600: 2.5rem;
$fs-700: 3rem;
$fs-800: 4rem;

$box-shadow-1: 0 3px 15px rgba(0,0,0,0.2);

// END VARIABLES




// BASE

body{
    background-color: $color-bg;
    font-family: $sans-serif;
    font-size: $fs-400;
    color: $color-text;
    text-align: center
    
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    font-family: inherit;
}

.title,
span {
    color: $color-light-accent
}

.title {
    font-size: $fs-800;
}

section {
    margin: 1rem 0;
}

.icon {
    width: 30px;
    height: 55px;
    margin: 0 1rem;
        
    
    
    i {
        width: 100%;
        transition: all 0.3s ease;

        &:hover {
            color: $color-light-accent;
        
        }
    }
}

// END BASE




// HEADER

header {
    background-color: $color-dark-grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 05%;
    
    .logo {
      cursor: pointer;
      width: 20%;
        
      img {
        max-width: 100px;
        border-radius: 20%;
        display: block;
      }
    }
  }
// Main Navigation

nav {
    height: 10vh;
}

.nav__links {
    
    li {
      display: inline-block;
      padding: 1rem 1rem;
      font-size: $fs-500;
      font-weight: $fw-normal;
      
    }
    
    a {
      transition: all 1s ease 0s;
      padding: 0.5rem;
      position: relative; 
      
      &:after {
        content: '';
        position: absolute;
        width: 0;
        background-color: white;
        left: 0;
        height: 3px;
        bottom: -10px;
        transition: 1s;
      }
      &:hover {
          width: 100%;
          color: white;
        
        &:after {
          width: 100%;
        }
      }
    }
  }

// Mobile Nav

.mobile-nav,
.mobile-btn-toggle{
  display: none;
}

// END HEADER




// HERO

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: $fs-500;
    background-color: #4b536c;
    height: 80vh;

    .hero__text {
        font-size: $fs-700;
        h1 {
        font-weight: $fw-bold;
        }
    
        p {
            font-weight: $fw-light;

            span {
                color: $color-light-accent;
                font-weight: $fw-light;
                font-size: $fs-800;
            }
        }
    }   

    

    
  }
  

// Resume CTA
.cta {
    margin: 1rem;
    padding: 1rem;

    a {
        background-color: $color-light-accent;
        color: $color-dark-grey;
        font-weight: $fw-light;
        border: none;
        border-radius: 900px;
        font-size: $fs-400;
        padding: 0.5rem 2rem;
        box-shadow: 0 0 20px 5px $color-dark-grey;
        cursor: pointer;
        transition: background-color 0.5s ease-in 70ms;

        &:hover {
            background-color: $color-bg;
            color: $color-text;
            box-shadow: 0 0 20px 5px $color-grey;
            font-weight: $fw-normal;
        }
    }
}


// Socials

.social {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    font-size: $fs-500;
    border-radius: 50%;
}

// END HERO




// ABOUT ME



// Tech Stack

// END ABOUT ME




// PROJECTS

// Cards

// END PROJECTS



// CONTACT

// Form

// END CONTACT



// FOOTER

// END FOOTER